html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
        background-color: oldlace;
}

.homepage-menu {
    font-size: 28px;
    font-weight: bold;
    color: brown;
    font-family: 'Courier New', Courier, monospace;
}

.title {
    font-size: 50px;
    text-align: center;
    color: #c4834e;
    font-family: "Monaco", "Lucida Console", monospace;
}

.recipe-img {
    text-align: center;
    height: 400;
    width: 400;
}

.section-title {
    color: #498d49;
    font-family: Arial;
}

p {
    font-family: Arial;
}

.section-list {
    font-family: Arial;
}

.homepage-link {
    color: brown;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}