body {
    background-color: oldlace;
}

.homepage-title {
    font-size: 50px;
    text-align: center;
    color: #c4834e;
    font-family: "Monaco", "Lucida Console", monospace;
}

.homepage-menu {
    font-size: 32px;
    font-weight: bold;
    color: brown;
    font-family: 'Courier New', Courier, monospace;
}

.recipe-title {
    font-size: 50px;
    text-align: center;
    color: #c4834e;
    font-family: "Monaco", "Lucida Console", monospace;
}

.recipe-img {
    text-align: center;
    height: 400;
    width: 400;
}

.section-title {
    color: #498d49;
    font-family: Arial;
}

p {
    font-family: Arial;
}

.section-list {
    font-family: Arial;
}

.homepage-link {
    color: brown;
    font-family: 'Courier New', Courier, monospace;
}